*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    min-height: 135vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/contact.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 7%;
    padding-right: 7%;
}
.logo{
    color: white;
    font-size: 28px;
    
}
.fuck{
    color: #ea1538;
}
nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0px 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: 0.3s;
}
.dropdown{
    display: none;
}
nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
}
.dropdown ul{
    display: block;
    margin: 10px;
}
.dropdown ul li{
    width: 150px;
    padding: 10px;
}
.fas{
    float: right;
    margin-left: 10px;
}
.dropdown-1{
    display: none;
}
.dropdown ul li:hover .dropdown-1{
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--color-black);
}
.facilities-col{
    width: 90%;
    color: white;
    left: 50%;
    top: 85%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}
.facilities-col h1{
    font-size: 50px;
}
.facilities-col p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: lightgray;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid white;
    background: white;
    color: orange;
    transition: 0.5s;
}


.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.contact .info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact .info .box{
    position: relative;
    padding: 10px 0;
    margin-top: 30px;
    display: flex;
}
.contact .info .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact .info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact .info .box .text h3{
    text-align: start;
    font-weight: 800;
}
.contact .info .box .text p{
    text-align: start;
    color: lightgray;
}
.contact-form{
    width: 40%;
    padding: 40px;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    background-color: transparent;
}
.contact-form h2{
    font-size: 30px;
    font-weight: 800;
}
.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact-form .input-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact-form .input-box input[type="submit"]{
    width: 100px;
    background: #ea1538;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10x;
    font-size: 18px;
}
